img{
    width:200px;
    height:auto;
    display: inline-block;
}
.meals{
    display: inline-block;
    padding-left:10px;
    padding-bottom:10px;
}
p{
    padding:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}